h1 {
    color: green;
    text-align: center;
    padding: 2px;
    
}

p {
    color: black;
    text-align: center;
}

#check {
    color: aqua;
}

.navigation {
    color: green;
    margin: 2px;
}