h1 {
    color: green;
    text-align: center;
    padding: 2px;
    
}

p {
    color: black;
    text-align: center;
}

#check {
    color: aqua;
}

.navigation {
    color: green;
    margin: 2px;
}

#Block {
    padding: 33px;
    border: 5px solid black;
    margin: 10px;
}